## Count or frequency encoding

In [8]:
import pandas as pd
import numpy as np
df=pd.read_csv('mercedesbenz.csv',usecols=['X1','X2'])

In [9]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [10]:
df.shape

(4209, 2)

### One hot encoding

In [11]:
pd.get_dummies(df).shape

(4209, 71)

In [13]:
len(df['X1'].unique())

27

In [14]:
len(df['X2'].unique())

44

## Lets have a look at how many lables

In [15]:
for col in df.columns[0:]:
    print(col,':',len(df[col].unique()),'lables')

X1 : 27 lables
X2 : 44 lables

In [16]:
## we can use in the form of dictinarys

In [17]:
df.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [18]:
# And now let's replace each label in X2 by its count

# first we make a dictionary that maps each label to the counts
df_frequency_map = df.X2.value_counts().to_dict()

In [19]:
df.head(100)

    X1  X2
0    v  at
1    t  av
2    w   n
3    t   n
4    v   n
..  ..  ..
95   b   m
96   l  as
97  aa  as
98   b   m
99   s   m

[100 rows x 2 columns]

In [20]:
# and now we replace X2 labels in the dataset df
df.X2 = df.X2.map(df_frequency_map)

df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

. There are some advantages and disadvantages that we will discuss now

. Advantages
. It is very simple to implement
. Does not increase the feature dimensional space
. Disadvantages
.If some of the labels have the same count, then they will be replaced with the same count and they will loose some valuable information.
. 2 Adds somewhat arbitrary numbers, and therefore weights to the different labels, that may not be related to their predictive power

. Follow this thread in Kaggle for more information: https://www.kaggle.com/general/16927